<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <input type="search" type="search" class="form-control" placeholder="Search" ng-model="query" autofocus/>
            </div>
        </form>
    </div>
    <div class="col-md-12" ng-show="results">
		Fake results:
		<table class="table table-border table-striped table-clickable">
			<thead>
				<tr>
					<th>#</th>
					<th>query character</th>
					<th>character code</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in results" ng-click="showCard(item.code)">
					<td>{{ item.num }}</td>
					<td>{{ item.char }}</td>
					<td>{{ item.code }}</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
